body {
  background-image: url("https://www.azuremilesrecords.com/images/SG_MD.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #e4e6eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  border-bottom: 2px solid #e4e6eb;
  padding-bottom: 5px;
  margin-top: 30px;
}

p {
  text-align: center;
  margin: 20px auto 0;
  max-width: 560px;
  padding: 0 15px;
}

.questions {
  width: 40%;
  background-color: rgba(0, 0, 0, 0.6);
  margin-top: 40px;
  padding: 20px;
  border-radius: 8px;
}

.questions h3 {
  text-align: center;
  margin-bottom: 20px;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}

label {
  margin: 15px 0 5px;
}

input[type="text"],
input[type="email"],
input[type="number"],
select {
  width: 100%;
  max-width: 800px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

input[type="radio"] {
  margin-right: 8px; /* space between button and label text */
}

textarea {
  width: 100%;
  max-width: 800px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: white;
  border-color: white;
  min-width: 300px;
}
